.ezmodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90000;
    background: rgba(0,0,0,.6);
    overflow-x: hidden;
    overflow-y: auto;
}

.ezmodal-container {
    background: #fff;
    padding: 0;
    font-size: 14px;
    position: fixed;
    z-index: 90000;
    top: 50px;
    left: 50%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.8);
    z-index: 90001;
    border-radius: 7px;
}

.ezmodal .ezmodal-close {
    position: absolute;
    top: 14px;
    right: 20px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(250,250,250,1);
    cursor: pointer;
    color: #838383;
}

.ezmodal .ezmodal-close:hover {
    color: #535353;
}

.ezmodal .ezmodal-header {
    font-size: 24px;
    padding: 10px;
    /*background: #efefef;*/
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    border-radius: 7px 7px 0 0;
}

.ezmodal .ezmodal-content {
    padding: 10px 20px;
}

.ezmodal .ezmodal-footer {
    padding: 10px 20px;
    background: #efefef;
    border-top: 1px solid #e3e3e3;
    text-align: right;
    border-radius: 0 0 7px 7px;
}

